.container-left {
    width: 70%;
    float: left;
    padding: 0 110px 120px;
}
.container-right {
    width: 30%;
    padding: 250px 50px 120px;
    float: right;
}
.clear{
    clear: both;
}
.container-right ul {
    padding: 22px;
    margin: 0;
}
.head-of-blog {
    position: relative;
    text-align: center;
    color: #fff;
    background: rgba(0,0,0,.3);
    padding: 0;
    top: 0;
    padding: 0;
    height: 221px;
    right: -1px;
    margin-bottom: 50px;
}
.img-of-blog {
    position: absolute;
}
img.circle {
    border: 1px solid cornflowerblue;
    border-radius: 100%;
    height: 185px;
    margin-left: -25px;
    margin-bottom: 20px;
}
h2.custom-border-bottom {
    border-bottom: 3px solid darkgrey;
    width: 135px;
}
a.sidebar-link {
    color: darkgreen;
    display: block;
}
a.sidebar-link:hover {
    text-decoration: none;
}
ul.sidebar {
    list-style-type: none;
    margin-left: -25px;
    margin-bottom: 35px;
}
ul.sidebar li {
    border: 1px solid darkseagreen;
    padding: 7px;
    max-width: 115px;
    margin: 5px;
}
.custom-margin{
    margin-bottom: 50px;
}