.clr{
    clear: both;
}
.left-side .banner-img{
    height: 500px;
    width: 100%;
}
.right-side{
    height: 500px;

}
.no-padding{
    padding: 0;
}
.no-margin{
    margin: 0;
}
/*********************Calendar********************/

.calendar-wrapper {
    background: #ffffff;
    width: 360px;
    margin: 1.5em auto;
    padding: 2em;
    border: 1px solid #dcdcff;
    border-radius: 5px;

}
table {
    clear: both;
    width: 100%;
    border: 1px solid #dcdcff;
    border-radius: 3px;
    border-collapse: collapse;
    color: #444;
    background: #ffffff;
}
td {
    height: 48px;
    text-align: center;
    vertical-align: middle;
    border-right: 1px solid #dcdcff;
    border-top: 1px solid #dcdcff;
    width: 14.28571429%;
}
td.not-current {
    color: #c0c0c0;
}
td.today {
    font-weight: 700;
    color: #28283b;
    font-size: 1.5em;
}
thead{
   background: rgb(46, 204, 113);
}
thead td {
    border: none;
    color: #ffffff;
    text-transform: uppercase;
    font-size: 1.5em;
}
#btnPrev {
    float: left;
    margin-bottom: 30px;
    padding-right: 5px;
}

#btnNext {
    float: right;
    margin-bottom: 20px;
}
#btnNext i,#btnPrev i{
    font-size: 12px;
}

#btnPrev,
#btnNext {
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #c0c0c0;
    cursor: pointer;
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
#btnPrev:hover,
#btnNext:hover {
    color: #28283b;
    font-weight: bold;
}

/*********************Calendar********************/

/*********************blog content********************/
.blog-title {
    position: absolute;
    top: -120px;
    text-align: center;
    background: rgba(0,0,0,.5);
    color: #fff;
    padding: 25px;
    width: 100%;
}
.blog-content{
    position: relative;
}
.span-icon {
    padding: 8px;
}
.blog-text {
    padding: 50px;
    text-align: justify;
}
/*********************blog content********************/

/*********************social content********************/
.element,
.outer-container {
    width: 100%;
    height: 600px;
}
.outer-container {
    position: relative;
    overflow: hidden;
}
.inner-container {
    position: absolute;
    left: 0;
    overflow-x: hidden;
    overflow-y: scroll;
    padding-right: 0px;
}
.inner-container::-webkit-scrollbar {
    display: none;
}
.social-button {
    width: 65px;
    height: 60px;
    border-radius: 100px;
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding-top: 6px;
    margin: 32px 10px;
    float: left;
}
.facebook{
    border: 1px solid #3B5998;
    background: #3B5998;
}
.twitter{
    border: 1px solid #1DA1F2;
    background: #1DA1F2;
}
.linkedin{
    border: 1px solid #0077B5;
    background: #0077B5;
}
.youtube{
    border: 1px solid #ff0000;
    background: #ff0000;
}
.sidebar-content {
    margin-left: 37px;
}
/*********************social content********************/
/*********************social content********************/
/*********************tab content********************/
.list-item{
    float: left;
    border: 1px solid #ddd;
    background: #ddd;
    height: 42px;
    padding: 10px;
    margin: 2px;
}
.tab-ul{
    list-style-type: none;
    margin-left: -28px;
}
/*********************tab content********************/