/********************************/
.col{
    padding: 0;
}
#about,#publication,#projects-section,#blog{
    padding-bottom: 40px;
}
/********************************/


/*Navbar Top Starts Here*/
.justify-content-right{
    position: absolute;
    right: 0;
}
.bg-custom-nav-top a.nav-link {
    padding: 5px;
}
.bg-custom-nav-top {
    background: #ffffff!important;
    color: white;
    height: 30px;
    padding: 15px 0;
    padding-left: 90px;
}
.bg-custom-nav-top {
    padding-left: 50px;
}
.social-padding{
    padding-right: 50px;
    font-size: 24px;
}
.fa-facebook-square{
    color: #3b5999;
}
.fa-google-plus-square{
    color: #dd4b39;
}
.fa-twitter-square{
    color: #55acee;
}
.fa-linkedin{
    color: #0077B5;
}
.fa-youtube-square{
    color: #cd201f;
}
.dropdown-item.aside{
    display: inline;
}
.social-padding a.nav-link {
    padding: 5px;
}
.bg-custom-nav-top a{
    color: #0375b4;
}
#top-nav .col-sm{
    padding: 0;
}
/*Navbar Top ends Here*/


/*Navbar Bottom Starts Here*/
.dropdown-menu.publication {
    left: 815px;
    display: block;
    width: 1349px;
    background: #0375b4!important;
    top: 50px;
    border-radius: 0;
}
.dropdown:hover > .project {
    display: block;
    width: 1349px;
    background: #0375b4!important;
    left: -751px;
    top: 50px;
    border-radius: 0;
}
.dropdown>.publication{
    display: none;
}
.dropdown:hover > .publication {
    display: block;
    width: 1349px;
    background: #0375b4!important;
    left: -838px;
    top: 50px;
    border-radius: 0;
}
.dropdown:hover > .blog {
    display: block;
    width: 1350px;
    background: #0375b4!important;
    left: -958px;
    top: 50px;
    border-radius: 0;
}



.dropdown > .dropdown-toggle:active {
    pointer-events: none;
}
.dropdown-item{
    color: #ffffff;
}
.bg-custom-nav-bottom {
    height: 65px;
    background: linear-gradient(135deg,rgba(4,0,35,.9) 0%,rgba(4,0,35,.9) 58%,rgba(168,0,0,.9) 100%)!important;
}
.nav-brand-link{
    color: #f9e764;
    font-size: 36px;
}
.navbar-light .navbar-nav .nav-link{
    color: #ffffff;
}
.navbar-light .navbar-nav .active>.nav-link,.navbar-light .navbar-nav .nav-link:hover,.navbar-light .navbar-nav .nav-link:active{
    color:  #f9e764;
}
#nav-bottom .col-sm{
    padding: 0;
}
.ml-custom{
    padding-right: 90px;
}
.btn-outline-success {
    color: #f9e764;
    background-color: transparent;
    background-image: none;
    border-color: #f9e764;
    font-size: .7rem;
}
.btn-outline-success:hover{
    background: #f9e764;
    color: #ffffff;
}
.custom-form{
    font-size:  .7rem;
}
#nav-bottom ul.navbar-nav.ml-auto.ml-custom {
    font-weight: bolder;
}
/*Navbar Bottom ends Here*/

/*Carousel Starts Here*/
.carousel-inner{
    height: 550px;
}
.carousel-inner img{
    height: 550px;
}
.carousel-caption {
    top: 35%;
    color: #f9e764;
    font-size: 200%;
    background: rgba(0,0,0,0.3);
    height: 250px;
    padding: 50px;
}
#carousel .container-fluid{
    padding: 0;
}
/*Carousel ends Here*/

/*About Section Starts Here*/
#about{
    background: #eee2dc;
    margin-top: -3px;
}
.headline{
    color: #123c4f;
    width: 100%;
    padding: 65px 0 50px;
}
.paragraph{
    padding: 0px 150px 30px;
    color: #000;
}


/*About Section ends Here*/

/*Project Section starts Here*/

#project {
    background: #CCCCCC;
    padding-bottom: 60px;
}
.project-frame{
    padding: 3px;
    padding-right: 20px;
}
.project-img{
    border: 7px solid #ddd;
    box-shadow: 5px 10px 10px #888888;
    border-bottom: 60px solid #ddd;
    margin-bottom: 15px;
    padding: 15px;
}
.project-content{
    text-align: center;
    text-transform: capitalize;
    position: absolute; top: 75%;
    left: 28%;
    font-weight: 500;
}
.project-text{
    color: midnightblue;
}
img.raju-img {
    border: 5px solid darkred;
    padding: 5px;
    margin-bottom: 5px;
}
/*Project Section ends Here*/

/*Publication Section Starts Here*/
#publication{
    background: #eee2dc;
}
.publication-img-left{
    border-right: 3px solid red;
}
.publication-img-right{
    border-left: 3px solid red;
}
.publication-description{
    text-align: justify;
}

.publication-item-title {
    color:  #0f0c29;
    padding: 0 0 12px;
}
.padding-bottom {
    padding-bottom: 50px;
    padding-top: 50px;
    padding-left: 115px;
    padding-right: 115px;
}

/****************************project**********************/
/****************************portfolio**********************/
#portfolio{
    padding: 80px 0;
}
.col-md-3.col-xs-12.portfolio-item {
    padding: 15px 0;
}
.portfolio-item {
    text-align: center;
    position: relative;
    cursor: pointer;
    perspective: 500px;
}
.img-portfolio{
    width: 100%;
    height: 200px;
}

.portfolio-item .portfolio-details {
    width: 70%;
    color: #fff;
    height: 80%;
    padding: 20% 8%;
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(90deg);
    transform-origin: 50%;
    background: rgba(25,25,112,0.9);
    opacity: 0;
    transition: all 0.4s ease-in;
}
.portfolio-item:hover .portfolio-details {
    transform: translate(-50%, -50%) rotateY(0deg);
    opacity: 1;
}



/*Publication Section ends Here*/

/*Blog Section Starts Here*/
/*.img-blog{*/
    /*width: 100%;*/
/*}*/
/*.blog-card {*/
    /*padding-bottom: 30px;*/
/*}*/
#blog{
    background: #cccccc;
}
.blog-item img{
    width: 100%;
    height: 200px;
}
#blog .no-gutters{
    margin-bottom: 25px;
}
span.text-center {
    display: inline-block;
}
.blog-item {
    display: block;
    position: relative;
    overflow: hidden;
    max-width: 530px;
    margin: auto 1rem 1rem;
    text-align: center;
}
.no-gutters>.col, .no-gutters>[class*=col-]{
    padding: 0 15px;
}

.blog-item .caption {
    display: block;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.7);
    position: absolute;
    top: 0;
    bottom: 0;
    z-index: 1;
}
#blog i.fas {
    padding: 0 5px 3px 0;
}

.blog-item .caption .caption-content {
    color: #f9e764;
    margin: auto 2rem 2rem;
}

.blog-item .caption .caption-content h2 {
    font-size: 0.8rem;
    text-transform: uppercase;
    margin-top: 15%;
}


@media (min-width: 992px) {
    .blog-item {
        max-width: none;
        margin: 0;
    }
    .blog-item .caption {
        -webkit-transition: -webkit-clip-path 0.25s ease-out, background-color 0.7s;
        -webkit-clip-path: inset(0px);
        clip-path: inset(0px);
    }
    .blog-item .caption .caption-content {
        transition: opacity 0.25s;
        margin-left: 5rem;
        margin-right: 5rem;
        margin-bottom: 5rem;
    }
    .blog-item img {
        -webkit-transition: -webkit-clip-path 0.25s ease-out;
        -webkit-clip-path: inset(-1px);
        clip-path: inset(-1px);
    }
    .blog-item:hover img {
        -webkit-clip-path: inset(2rem);
        clip-path: inset(2rem);
    }
    .blog-item:hover .caption {
        background-color: rgba(29, 128, 159, 0.9);
        -webkit-clip-path: outset(2rem);
        clip-path: outset(2rem);
    }
}



/*Blog Section ends Here*/


/*Footer Section Start Here*/
#footer {
    background: #282b2d;
    color: #fff;
    padding: 80px 50px;

}
#footer .footer-headline {
    border-bottom: 2px solid #fff;
    display: inline-block;
    margin-bottom: 30px;
}
/*#footer .custom-container{*/
    /*width: 85%;*/
/*}*/
#map_container{
    position: relative;
}
#map{
    height: 0;
    overflow: hidden;
    padding-bottom: 22.25%;
    padding-top: 30px;
    position: relative;
}
.footer-textarea{
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
}
address i {
    padding-right: 7px;
    font-size: 13px;
}
.embed-responsive iframe{
    height: 83%;
}
/*Footer Section ends Here*/
